<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/common/layout.css}"/>
	<title>Project</title>
</head>
<body>
	<div class="header">
	  	<h1>Header</h1>
	  	<p>Resize the browser window to see the responsive effect.</p>
	</div>
	
	<div class="topnav">
		<th:block th:with="temp=${session.employee}">
			<th:block th:switch="${temp}">
				<th:block th:case="null">
					<a th:href="@{/employee/sign-in}" class="new">Sign in</a>
				</th:block>
				<th:block th:case="*">
					<a>
						<img th:src="|${session.employee.avatarLink}|" class="avatar" alt="avatar"/>
					</a>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="#" class="new">Watch statistics</a>
					</div>
					<div sec:authorize="hasRole('ROLE_STAFF')">
						<a th:href="@{/employee/chat-with-customers}" class="new">Chat with customers</a>
					</div>
					<form th:action="@{/employee/do-sign-out}" method="POST">
						<a id="sign-out-button" th:href="@{/}" class="new">Sign out</a>
					</form>
				</th:block>
			</th:block>
		</th:block>
	</div>
	
	<div class="row">
		<div class="column">
	    	<h1>Header</h1>
	    	<p>HEHEHEHE</p>
	  	</div>
	</div>
	
	<script th:src="@{/js/common/sign-out.js}"></script>
	
</body>
</html>




























































