* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 75px;
}

.topnav .new {
	padding-top: 30px; 
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

  /* Create three equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 10%;
    padding: 15px;
  }

  .column2 {
    float: left;
    width: 25%;
    padding: 15px;
  }

  .column3 {
    float: left;
    width: 65%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  .icons-container {
    font-size: 35px;
    margin-top: 20px;
    padding: 10px;
}

.icons-container:hover {
  background-color: #ddd;
  cursor: grab;
}

.statistic-button {
  margin-top: 10px;
}

.statistic-form {
  margin-top: 15px;
}

#month-time-content {
  width: 45px;
}

#year-time-content {
  width: 85px;
}

#counsellor-id {
  width: 200px;
}

.fa-times-circle {
  visibility: hidden;
  font-size: 15px;
  color:red;
}

#exit-button {
  margin-left: 93%;
  background-color: red;
  color: white;
}

#management-exit-button {
  margin-left: 330px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
}


.avatar {
	width: 50px;
    height: 50px;
    border-radius: 50%;
}

.image-element {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.conversation-image-element {
  width: 20%;
  height: 67px;
  border: 1px solid black;
  padding: 5px;
  border-right: 0px;
}

.conversation-content-element {
  width: 80%;
  height: 67px;
  border: 1px solid black;
  border-left: 0px;
  padding: 5px;
}

.conversation-element {
  float: left;
}

#consultations-container {
	max-height: 400px;
	overflow-y: auto;
}

.consultations-child {
	margin-top: 15px;
	height: 70px;
}

.consultations-child:hover {
	cursor: grab;
}

#content-element {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
}

.content-element-child-others {
  margin-top: 10px;
}

.content-element-child-others-image {
  float: left;
}

.content-element-child-me {
  margin-top: 15px;
   margin-left: 545px;
}

.content-element-child-me-image {
  float: right;
}

.symbol {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.others-content-element {
  border: 1px solid black;
  border-radius: 20px;
  width: 350px;
  resize: both;
  word-wrap: break-word;
  padding: 10px;
  margin-left: 35px;
}

.me-content-element {
  border: 1px solid black;
  border-radius: 20px;
  width: 350px;
  resize: both;
  word-wrap: break-word;
  padding: 10px;
}

#star-rating-container {
	display: inline-block;
	 margin-left: 5px;
}

#text-feedback-container {
	display: inline-block;
	 margin-left: 10px;
	  border: 1px solid black;
	   border-radius: 10px;
	    padding: 5px; 
	     resize: both;
	      word-wrap: break-word; 
	      width: 390px;
}

#star-feedback-consultations-statistic-button {
	background-color: orange;
    border: none;
    outline: none;
    padding: 10px 24px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
}

#top-n-counsellors-statistic-button {
	background-color: blue;
    border: none;
    outline: none;
    padding: 10px 24px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
}

#consultations-statistic-form-container {
	box-sizing: border-box;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #f1f1f1;
}

#top-n-statistic-form-container {
	box-sizing: border-box;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #f1f1f1;
}

#view-star-feedback-consultations-statistic {
	background-color: green;
    border: none;
    outline: none;
    padding: 8px 40px;
    cursor: pointer;
    color: white;
    margin-left: 65%;
    border-radius: 5px;
}

#view-top-n-counsellors-button {
	background-color: green;
    border: none;
    outline: none;
    padding: 8px 40px;
    cursor: pointer;
    color: white;
    margin-left: 65%;
    border-radius: 5px;
}

input[type=submit]:hover {
	opacity: 0.7;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
	cursor: pointer;
}

a {
	cursor: pointer;
}

#management-container {
	box-sizing: border-box;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #f1f1f1;
}

#view-consultations-button {
	background-color: green;
    border: none;
    outline: none;
    padding: 8px 40px;
    cursor: pointer;
    color: white;
    margin-left: 65%;
    border-radius: 5px;
}

#counsellor-id {
	width: 80%;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
}

#month-time-content {
	border-radius: 3px;
}

#year-time-content {
	border-radius: 3px;
}

#consultations-container {
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 5px;
}

.consultations-child {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

.me-content-element {
	color: white;
	background-color: rgb(0, 132, 255);
}

.others-content-element {
	color: black;
	background-color: rgb(228, 230, 235);
}

#content-element {
	box-sizing: border-box;
	border: 5px solid #556B2F;
	border-radius: 7px;
}






















































