.column-element-1 {
    width: 30%;
    overflow-y: auto;
 }

  .column-element-2 {
    width: 70%;
  }
  
  #container-element {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    padding: 10px;
}

#content-element {
    border: 1px solid black;
    width: 100%;
    height: 375px;
    padding: 10px;
    overflow-y: auto;
}

#answer-element {
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    height: 205px;
    padding: 10px;
}

#byte-element {
    width: 100%;
    height: 85px;
    border: 1px solid black;
    padding: 10px;
    border-bottom: 0px;
}

#text-element {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: auto;
}

.notification-element {
	width: 100%;
    height: 80px;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

.image-element {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.conversation-image-element {
  width: 20%;
  height: 67px;
  border: 1px solid black;
  padding: 5px;
  border-right: 0px;
}

.conversation-content-element {
  width: 80%;
  height: 67px;
  border: 1px solid black;
  border-left: 0px;
  padding: 5px;
}

.conversation-element {
  float: left;
}

.dz-image {
    width: 50px;
    height: 50px;
}

.dz-image-preview {
    float: left;
    margin-left: 5px;
}

.dz-image img {
    width: 70px;
    height: 50px;
}

.dz-details {
    display: none;
}

.dz-success-mark {
    display: none;
}

.dz-error-mark {
    display: none;
}

.others-content-element {
  border: 1px solid black;
  border-radius: 20px;
  width: 350px;
  resize: both;
  word-wrap: break-word;
  padding: 10px;
  margin-left: 35px;
}

.me-content-element {
  border: 1px solid black;
  border-radius: 20px;
  width: 350px;
  resize: both;
  word-wrap: break-word;
  padding: 10px;
}



.symbol {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.content-element-child-others {
  margin-top: 10px;
}

.content-element-child-others-image {
  float: left;
}

.content-element-child-me {
  margin-top: 15px;
   margin-left: 585px;
}

.content-element-child-me-image {
  float: right;
}

.icon-element {
  font-size: 50px;
}

video {
  width: 320px;
   height: auto;
}

.image-message {
  display: block;
   height: auto; 
   width: auto;
    margin-left: auto;
     margin-right: auto;
}


.column-container {
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 5px;
	max-height: 610px;
	overflow-y: auto;
}

.notification-element {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

.notification-element:hover {
	cursor: pointer;
}

.me-content-element {
	color: white;
	background-color: rgb(0, 132, 255);
}

.others-content-element {
	color: black;
	background-color: rgb(228, 230, 235);
}


#content-element {
	box-sizing: border-box;
	border-radius: 7px;
}

#container-element {
	box-sizing: border-box;
	border-radius: 7px;
	border: 5px solid #556B2F;
}

#answer-element {
	box-sizing: border-box;
	border-radius: 7px;
	border: 5px solid #556B2F;
	padding: 5px;
}

.new-message {
	font-weight: bold;
	font-color: fuchsia;
}

































