.error-message {
	color: red;
}

.notify-message {
	color: blue;
}

.form-item {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sign-in-button {
	border: none;
	background-color: green;
	outline: none;
	padding: 12px 48px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    position: fixed;
    right: 12px;
}

#sign-in-button:hover {
	opacity: 0.7;
}

a {
	text-decoration: none;
}