<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/client/customer-care/client-customer-care-page.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:src="@{/js/library/drop-zone/dropzone-amd-module.min.js}"></script>
	<script th:src="@{/js/library/drop-zone/dropzone.min.js}"></script>
	<title>Project</title>
</head>
<body>
	<input type="hidden" id="client-email" th:value="${session.client.email}"/>
	
	<div class="header">
	  	<h1>Header</h1>
	  	<p>Resize the browser window to see the responsive effect.</p>
	</div>
	
	<div class="topnav">
		<th:block th:with="temp=${session.client}">
		<th:block th:switch="${temp}">
			<th:block th:case="null">
				<a th:href="@{/sign-in}" class="new">Sign in</a>
			</th:block>
			<th:block th:case="*">
				<a th:href="@{/}" class="link">
					<img th:src="|${session.client.avatarLink}|" class="avatar" alt="avatar"/>
				</a>
				<form th:action="@{/do-sign-out}" method="POST">
					<a href="#" class="new link" id="sign-out-button">Sign out</a>
				</form>
				<a th:href="@{/customer-care-services}" class="new link">Customer care services</a>
			</th:block>
		</th:block>
	</th:block>
	</div>
	
	<div class="row">
		<div class="column column-element-1">
	    	<button id="counsellor-connecting-element">Connect to a counsellor</button>
	    	<button id="left-conversation-element">Left conversation</button>
	    	<button id="give-feedback-element">Give feedback</button>
	    	<div id="cover-element-1">
	    		<p>Please click the "Connect to a counsellor" button to get support from our counsellors</p>
	    	</div>
	  	</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/client/customer-care/client-customer-care-page.js}"></script>
</body>
</html>

















































































