<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>Project</title>
</head>
<body>
	<h1>EMPLOYEE SIGN IN FORM</h1>
	<th:block th:if="${error != 'empty'}">
		<p th:text="|${error}|"></p>
	</th:block>
	<th:block th:if="${message != 'empty'}">
		<p th:text="|${message}|"></p>
	</th:block>
	<form th:action="@{/employee/do-sign-in}" method="POST">
		<label for="username">Username: </label>
		<input type="text" name="username" id="username"/><br/><br/>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password"/><br/><br/>
		<input type="submit" value="Sign in"/><br/><br/>
	</form>
</body>
</html>












































































