.error-message {
	color: red;
}

.notify-message {
	color: blue;
}

.form-item {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
	border: none;
	 background-color: green; 
	 outline: none; 
	 padding: 12px 48px; 
	 cursor: pointer; 
	 border-radius: 50px; 
	 color: white; 
	 margin-left: 90%;
}

input[type=submit]:hover {
	opacity: 0.7;
}
















